.works{
    padding:0 3rem 0 3rem;
    display: flex;
    height: 70vh;
    margin-top: 4rem;
}

.awesome{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 43rem;
}
.awesome > :nth-child(1) {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
}

.awesome > :nth-child(2) {
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
}

.awesome > :nth-child(3) {
    color: var(--gray);
    font-size: 14px;
    margin-top: 1rem;
}
/* right side */
.w-right{
    position: relative;
}

.w-mainCircle{
    left: 9rem;
    position: relative;
    width: 18rem;
    height: 18rem;
    border-radius: 100%;
    box-shadow: var(--smboxShadow);
    top: 2rem;
    background: white;
}

.w-mainCircle>*{
    position: absolute;
}

.w-mainCircle>:nth-child(1)
{
    top: -3rem;
    left: 6rem;
}

.w-mainCircle>:nth-child(2)
{
    left: -3rem;
    top: 5rem;
}

.w-mainCircle>:nth-child(3)
{
    left: 6rem;
    top: 5rem;
}

.w-mainCircle>:nth-child(4)
{
    left: 15rem;
    top: 5rem;
}

.w-mainCircle>:nth-child(5)
{
    left: 6rem;
    top: 13rem;
}

.w-secCircle{
    width: 7rem;
    height: 7rem;
    position: absolute;
    border-radius: 100%;
    border: 5px solid #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    box-shadow: var(--smboxShadow);
    background: white;
}

.r-icons{
    /* transform: scale(0.6); */
    width: 4rem;
    height: 4rem;
}

.w-backcircle{
    position: absolute;
    height: 13rem;
    width: 13rem;
    border-radius: 100%;
    z-index: -1;
}

.blueCircle{
    background: #1949B8;
    left: 17rem;
    top: 0rem;
}

.yellowCircle{
    background: #F5C32C;
    left: 17rem;
    top: 9rem;
}

@media screen and (min-width: 320px) and (max-width: 426px) {
    .works{
        flex-direction: column;
        height: 79vh;
        padding: 0;
        gap: 5rem;
    }
    .awesome{
        transform: scale(0.8);
        left: -4rem;
        width: 27rem;
    }

    .w-right{
        display: flex;
        align-items: flex-start;
        justify-content: start;
        transform: scale(0.7) !important;
    }

    .w-mainCircle{
        position: static;
    }

    .w-backcircle{
        left: 8rem !important;
    }

    .yellowCircle{
        top: 7rem;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .works {
        padding: 0 1rem 0 1rem;
        height: 34vh;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .awesome{
        transform: scale(0.7);
        left: -2rem;
    }
    .w-right{
        left: -6rem;
    transform: scale(0.7);
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .awesome{
        transform: scale(0.9);
        left: -3rem;
    }
    .w-right{
        left: -11rem;
    transform: scale(0.9);
    }
}

